@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Josefin Sans", cursive;
  box-sizing: border-box;
}

@font-face {
  font-family: "josefin-sans-todo";
  src: url(JosefinSans-VariableFont_wght.ttf);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: hsl(0, 0%, 98%);
    color: hsl(236, 33%, 92%);
  }
  .task-container {
    background-color: hsl(0, 0%, 98%);
  }
}

main {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  overflow: hidden;
  background-color: transparent;
  z-index: 0;
}

.main-container {
  max-width: 600px;
  margin: 100px auto 0;
  overflow: hidden;
}

.button-mode,
.showAll,
.showActive,
.showCompleted,
.counter-container,
.clearCompleted,
.create-task input {
  background-color: transparent;
  color: hsl(234, 39%, 85%);
}

/* TO-DO RING IS STILL THERE */
.button-mode:focus,
.button-mode:hover,
#create-task,
.showAll:focus,
.showAll:hover,
.showActive:hover,
.showActive:focus,
.showCompleted:focus,
.showCompleted:hover,
.clearCompleted:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}

.showAll:hover,
.showActive:hover,
.showCompleted:hover,
.clearCompleted:hover {
  color: hsl(236, 33%, 92%);
}

.showAll:focus,
.showActive:focus,
.showCompleted:focus {
  color: hsl(220, 98%, 61%);
}

.light-mode {
  background-color: hsl(0, 0%, 98%);
  color: white;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
  top: 0;
  left: 0;
}

.bg-img img {
  width: 100%;
  height: 100%;
}

.todo-container {
  z-index: 1;
  display: flex;
  text-align: left;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
}

.todo {
  flex-basis: 70%;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  flex-basis: 20px;
}

body {
  background-color: hsl(235, 21%, 11%);
}

.task-container {
  text-align: center;
  z-index: 1;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  background-color: hsl(235, 24%, 19%);
  margin: 30px 0;
}

.create-task {
  width: 100%;
  text-align: center;
  color: hsl(236, 33%, 92%);
}

.create-task input {
  padding: 10px;
  width: 100%;
  background-color: hsl(233, 14%, 35%);
  border: none;
  color: hsl(236, 33%, 92%);
}
.create-task button {
  background-color: hsl(233, 14%, 35%);
  border: none;
}
.create-task input:visited {
  border: none;
}
.list-container {
  border-radius: 10px;
  background-color: hsl(235, 24%, 19%);
  margin: 30px 0;
}

.draggable {
  padding: 1rem;
  background-color: white;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;

  /* edit border */
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
}

li:hover .delete-task {
  display: inline;
}

.button-hover {
  width: 75px;
  height: 75px;
}

.delete-task {
  background-color: transparent;
  display: none;
}

.completed {
  display: inline;
  text-decoration: line-through;
  color: hsl(237, 14%, 26%);
}

/* ask about making it a circle */
.check-box {
  width: 1.3em;
  height: 1.3em;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  cursor: pointer;
}

.check-box:checked {
  background: url(/public/icon-check.svg);
  background-size: auto;
  background-repeat: no-repeat;
  object-position: top right;
  background-image: linear-gradient(to);
  display: inline;
}

.counter {
  border: solid 1px hsl(234, 39%, 85%);
  border-style: solid none none none;
}
.counter-container {
  display: grid;
  grid: row;
}

.task-counters {
  margin: 30px 0;
  text-align: center;
  color: hsl(234, 39%, 85%);
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(235, 24%, 19%);
}

.reorder {
  text-align: center;
  color: hsl(234, 39%, 85%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
